<h2>Learn and Play</h2>
<h4>Monday - Friday from 9:30am - 12:30am</h4>
<ul>
  <li>A drop-in and drop-off session for children ages 2.5 - 6 intended for children whose parents are looking for regular play and socialization opportunities for their young preschooler. Children must be able to separate easily. Potty training not necessary. Parents can choose any amount of days from 1 - 5.</li>
  <li>Monday through Friday from 9:30 am - 12:30 am.</li>
  <li>Monitored choice play, circle time, free art and snack-time.</li>
  <li>RUNS: September 3rd, 2013 - June 27th, 2014 (join at any time).</li>
  <li>COST: $30 per drop-in day; $100 per month (for a single day); Extended hours billed at $10 per hour until 3pm. After-Care Rates of $10 per hour apply after 3pm.</li>
</ul>

<h2>Mommy Without Me: Trial Separation Session</h2>
<h4>Tuesdays and Thursdays from 9:30 am - 11:30 am</h4>
<ul>
  <li>A drop-in and drop-off session for toddlers ages 0 - 2 years who are new to the idea of being without mom or dad. This session is designed to help young tots and infants work through their separation anxiety in a caring and nurturing environment. Play time in the play rooms and art room as well as story time and snack will be incorporated into your child's stay.</li>
  <li>Tuesdays and Thursdays from 9:30 am - 11:30 am</li>
  <li>COST: $20 per drop-in day; $70 per month</li>
</ul>

<h2>After-School for Big Kids</h2>
<h4>Monday - Friday from 2:00 pm - 6:00 pm</h4>
<ul>
  <li>A drop-off after-school program for kids grades K - 3.</li>
  <li>After-school Pick-Up available from Tashua via car or foot (Pick-Up service is an additional $20 per week)</li>
  <li>After-school schedule will incorporate time for snacks, homework, one-on-one homework help, choice play, free art, quiet reading and outdoor play (weather permitting).</li>
  <li>RUNS: September 3rd, 2013 - June 27th, 2014 (join at any time)</li>
  <li>COST: $30 per drop-in day; $10 per hour for 1 - 6 hours per week; $8 per hour for 7+ hours per week (rate applies to children over the age of 5 years, otherwise drop-in care rates apply)</li>
</ul>