<h2>At a Glance...</h2>
<ul>
  <li>1000 Square feet of dedicated learning and play space in a spacious peanut-free Trumbull home</li>
  <li>Half acre of outdoor green-space for tumbling and exploring</li>
  <li>2 Play Rooms and Art Room</li>
  <li>Open Monday through Friday from 6 am - 6 pm</li>
  <li>Flexible Scheduling</li>
  <li>All Natural and Peanut-Free Meal Plan available at an additional $5 per day (optional)</li>
  <li>No commitment necessary to utilize our drop-in care or sitter service</li>
  <li>After-hours and overnight care offered on a case by case basis (inquire)</li>
</ul>

<h4>Flexible Care Options for the Tiniest Learners (0 - 2 yrs)</h4>
<ul>
  <li>Full Day Infant Childcare from 6 am - 6 pm ($275 per week; or $12 per hour)</li>
  <li>"Flexible Schedule" Hourly Care Drop-In Care</li>
  <li>After-hours Care</li>
  <li>Sitter Service/Emergency Care (we don't provide sick care)</li>
</ul>

<h4>Before and After-School for Big Kids (grades K - 3)</h4>
  <ul>
    <li>Monday - Friday from 6:00 am - 6:00 pm</li>
    <li>A drop-off after-school program for kids grades K - 3</li>
    <li>After-school Pick-Up available from Tashua via car or foot (Pick-Up service is an additional $20 per week)</li>
    <li>After-school schedule will incorporate time for snacks, homework, one-on-one homework help, choice play, free art, quiet reading and outdoor play (weather permitting)</li>
    <li>RUNS: September 3rd, 2013 - June 27th, 2014 (join at any time)</li>
  </ul>