<h4>Daily Schedule (2.5 - 6 yrs)</h4>
<ul>
  <li>8:30 - 10:00 am - Choice Play in play rooms and art room</li>
  <li>10:00 - 10:45 am - Morning Meeting w/themed books, songs, stories</li>
  <li>10:45 - 11:15 am - Potty Break, Handwashing and Snack Time</li>
  <li>11:15 - 12:15 pm - Outdoor Play (Yard, Nature Trail or Playground)</li>
  <li>12:15 - 12:30 pm - Handwashing and Lunch Prep</li>
  <li>12:30 - 1:00 pm - Lunch (Indoors or Outdoors)</li>
  <li>1:00 - 1:30 pm - Free Art</li>
  <li>1:30 - 2:30 pm - Elective Enrichment (See below)</li>
  <li>2:30 - 3:00 pm - Potty Break, Handwashing and Snack Time</li>
  <li>3:00 - 4:00 pm - Quiet Reading and Cot Time with Audiobooks</li>
  <li>4:00 - 6:00 pm - Choice Play in play rooms and art room</li>
</ul>

<h4>Monday</h4>
<h5>Little Chefs: Tots in the Kitchen</h5>
<p>During this enrichment class tots will explore themes involving farming, healthy eating, math, counting, measurement, volume, states of matter and simple addition while participating in this fun hands-on, year-long course. From fruit parfaits and quesadillas to pizza and DIY pretzels, this class is a fan favorite!</p>

<h4>Tuesday</h4>
<h5>Drawing in Nature</h5>
<p>During this enrichment class tots will explore nearby nature trails with journals in tow. Tots will be encouraged to pay attention to details big and small, creating artwork based on what they notice, find and feel. This course will delve deep into topics ranging from habitats and pollution to seasons and cycles of change. While exploring, writing, drawing and reading in nature, this course will seamlessly blend science, art, handwriting, social studies and phonics. Weather permitting.</p>

<h4>Wednesday</h4>
<h5>Game-O-Palooza</h5>
<p>During this enrichment class tots will learn how to be good sports and great team players. Working on social skills, sportsmanship, etiquette, honesty and patience will be the focus of these classes all under the guise of fun and games! Younger preschoolers will explore games like candy land, checkers, bingo, soccer (outdoors), kickball (outdoors), relay races (outdoors), musical chairs, obstacle courses, hide and seek as well as preschooler friendly board games that reinforce thematic material like colors, shapes, sequence, etc. Older preschoolers will explore all of the above in addition to chess and card games.</p>

<h4>Thursday</h4>
<h5>Music and Me</h5>
<p>During this enrichment class tots will explore music and movement on a global scale. The first 20 minutes of this course will be dedicated to stretching, listening to music from around the world and learning some simple international dance steps. Tots will cover units that explore music from India, Africa, China, Mexico, Caribbean, Tibet, America (Country and Blue Grass) and Classical Genres. The second portion of this class will focus on movement. Tots will be encouraged to participate in free dance and freeze dance games while moving to music with scarves and instruments. The last portion of this class will focus on beginner piano skills in a group style mini-lesson. Becoming familiar with piano, reading simple music notation and playing simple nursery rhymes will be the focus of these mini-lessons. This course will seamlessly integrate themes involving social studies, global studies, counting and musicality as well as encourage gross motor development.</p>

<h4>Friday</h4>
<h5>Spanish Immersion Hour</h5>
<p>During this enrichment session tots will be immersed into Spanish through the use of Spanish instructional DVDs in Spanish. Studies have shown that learning a language happens best for preschoolers in a full immersion setting. In addition to other kid-friendly Spanish programming that contains 100% Spanish, the acclaimed Muzzy series and Rosetta Stone for Kids materials will also be utilized during these sessions as well as books and songs in Spanish. Each of these sessions will conclude with a scavenger hunt where kids can reinforce the Spanish themes they've encountered through video by hunting for and then presenting  items/toys that represent the new vocabulary that they have absorbed.</p>