<h2>Summer Camp</h2

<p>
  Each summer Growing Sprouts offers a casual, educational,  wholesome and flexible mixed ages camp program for gifted learners between the ages 5 - 10 with an ideal balance between indoor and outdoor summer fun!
</p>

<p>
  Our summer camp is based on two main philosophies. We feel that children's summer programming should allow them to take advantage of summer vacation fun, and that summer shouldn't be an excuse to stop learning, exploring and discovering. With that in mind, our campers spend a portion of their day delving into reading, science, social studies, math and more. Furthermore, we also feel that children ought to be exploring their environment, their community and their world. This builds confidence and awareness, in addition to providing a forum for even more opportunities to discover, imagine and create! Our weekly field trips by car or van were integrated into our summer program with this key belief in mind. Some of our favorite summer destinations are listed far below...
</p>

<h4>Here are some of the most beloved features about our tiny camp</h4>
<ul>
  <li>Mixed age groups (sibling groups are welcome!)</li>
  <li>Small, nurturing environment with 1000 square feet of dedicated play and learning space and a half acre of outdoor green space for tumbling and exploring!</li>
  <li>Individualized "Right Fit" curricula for each camper that is challenging and yet developmentally appropriate.</li>
  <li>Each camper will explore Reading, Math and Writing at the grade level dictated by their development and not by their age, allowing gifted learners a chance to explore topics at a pace and depth that fits their learning needs.</li>
  <li>Plenty of time incorporated into the day for outdoor play, hiking, exploring, tumbling and choice play</li>
  <li>Unique Morning Drop-Off Window from 8:30 am - 10:00 am (Sleep In!)</li>
</ul>

<h4>Daily Schedule</h4>
<ul>
  <li>8:30 am - 10:00 Choice Play (Indoor Play Rooms and Art Room)</li>
  <li>10:00 - 10:45 Independent Study and Research</li>
  <li>10:45 - 11:30 Morning Meeting, Group Presentations and Discussions</li>
  <li>11:30 - 12:00 Outdoor Recess</li>
  <li>12:00 - 12:45 Lunch (Indoor or Outdoor depending on weather)</li>
  <li>12:45 - 1:30 Writing in Nature (Journaling along the Nature Trail)</li>
  <li>1:30 - 2:00 Quiet Reading or Audiobook</li>
  <li>2:00 - 2:30 Free Art (with a focus on creating art to compliment our reading, research or independent study topics )</li>
  <li>2:30 - 3:00 Choice Play and Departures</li>
  <li>3:00 - 6:00 After-Care (casual indoor and outdoor play activities)
  Opportunities for Sporadic Field Trips on Fridays (see list below)</li>
</ul>