<div class="row">
  <div class="box">
    <div class="col-lg-12 text-center">
      <div id="carousel-example-generic" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators hidden-xs">
          <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
          <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
          <li data-target="#carousel-example-generic" data-slide-to="2" class="active"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item">
            <img class="img-responsive img-full" src="slide-1.jpg">
          </div>
          <div class="item">
            <img class="img-responsive img-full" src="slide-2.jpg">
          </div>
          <div class="item active">
            <img class="img-responsive img-full" src="slide-3.jpg">
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-eÏxample-generic" data-slide="prev">
          <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
          <span class="icon-next"></span>
        </a>
      </div>
      <h1><small>Welcome to the</small><br><span class="brand-name">Sey Center for Little Learners</span><hr class="tagline-divider"><small>By <strong>Growing Sprouts</strong></small></h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="box">
    <div class="col-lg-12">
      <hr>
      <h2 class="intro-text text-center">About<strong>Us</strong></h2>
      <hr>
      <img class="img-responsive img-border img-left" src="intro-pic.jpg">
      <hr class="visible-xs">
      <p>The Sey Center for Little Learners by Growing Sprouts, a private and peanut-free home-based licensed learning and childcare center in Trumbull for ages 0 - 10, is a place where kids can Imagine, Create, Discover and Play. The Sey Center for Little Learners boasts 1000 square feet of dedicated learning and play space on the ground level of an abundant Trumbull home with half an acre of outdoor green-space for tumbling and exploring in addition to neighboring nature trails and playgrounds. </p>
      <p>Our unique hybrid model offers private preschool and summer camp options Monday – Friday, in addition to other drop-off options, classes and programs that cater and appeal to both working moms and at-home moms alike. Growing Sprouts offers various seasonal enrichment opportunities such as trial separation classes, full-day, half-day and drop-in preschool and kindergarten readiness programs, after-school programs, sitter service, tutoring, childcare and camp!</p>
      <p>The charismatic owner and founder is passionate about working with children and has decades worth of experience working alongside youth in the education field.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="box">
    <div class="col-lg-12">
      <hr>
      <h2 class="intro-text text-center">Beautiful boxes <strong>to showcase your content</strong></h2>
      <hr>
      <p>Use as many boxes as you like, and put anything you want in them! They are great for just about anything, the sky's the limit!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
    </div>
  </div>
</div>