<div class="jumbotron">
  <h1>Growing Sprouts</h1>
  <p>Welcome to the Sey Center for Little Learners!</p>
  <p><a class="btn btn-primary btn-lg">Enroll Today</a></p>
  <div id="logo"><%= image_tag('bee.png', id: "bee") %></div>
</div>

<div class="page-content">
  <h2>About us...</h2>
  <%= image_tag('intro-pic.jpg', id: "intro-pic") %>
  <p> The Sey Center for Little Learners by Growing Sprouts, a private and peanut-free home-based licensed learning and childcare center in Trumbull for ages 0 - 10, is a place where kids can Imagine, Create, Discover and Play. The Sey Center for Little Learners boasts 1000 square feet of dedicated learning and play space on the ground level of an abundant Trumbull home with half an acre of outdoor green-space for tumbling and exploring in addition to neighboring nature trails and playgrounds.</p>
  <p>Our unique hybrid model offers private preschool and summer camp options Monday – Friday, in addition to other drop-off options, classes and programs that cater and appeal to both working moms and at-home moms alike. Growing Sprouts offers various seasonal enrichment opportunities such as trial separation classes, full-day, half-day and drop-in preschool and kindergarten readiness programs, after-school programs, sitter service, tutoring, childcare and camp!</p>
  <p>The charismatic owner and founder is passionate about working with children and has decades worth of experience working alongside youth in the education field.</p>
</div>

<div class="page-content">
  <h2>Why Parents Choose Growing Sprouts:</h2>
  <ul>
    <li>Smaller and healthier class sizes with more individual attention</li>
    <li>Healthy balance between Play and Learning</li>
    <li>Casual, intimate and wholesome environment</li>
    <li>Heavy focus on social etiquette, dialogue, personal responsibility and thoughtful action</li>
    <li>Daily kinder-skills lessons designed to prepare your child for school</li>
    <li>Optional all natural meal plan option with fresh fruit and veggies served daily</li>
    <li>Extended care options available at only $10.00 per hour</li>
    <li>Pay monthly – no huge lump sum payments required (or pay yearly at a discounted rate)</li>
    <li>Care options for working moms and enrichment options for at-home moms</li>
  </ul>
  </div>